<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @contact_phone.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @contact_phone.email %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @contact_phone.phone %>
</p>

<%= link_to 'Edit', edit_contact_phone_path(@contact_phone) %> |
<%= link_to 'Back', contact_phones_path %>
